h1{
    color: brown;
}
h2{
    color: bisque;
}
h3{
    color: blue;
}
h4{
    color: blueviolet;
}
h5{
    color: aquamarine;
}
h6{
    color: antiquewhite;
}

.p1{
    color: orange;
}
.p2{
    color: green;
}
.c1{
    color: chartreuse;
}
.c2{
    color: brown;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.i1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.i2{
    width: 200px;
    height: 200px;
}